In [1]:
#Dependencies

# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
mouse_data_path="Data_mouse_drug_data.csv"
clinical_data_path="Data_clinicaltrial_data.csv"

In [9]:
#Loading the files
mouse_df=pd.read_csv(mouse_data_path)
clinical_df=pd.read_csv(clinical_data_path)
mouse_df.head()
clinical_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [10]:
# Combine the data into a single dataset
combined=pd.merge(mouse_df,clinical_df,how="outer",on="Mouse ID")
combined.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [12]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 

tumor_mean = combined.groupby(['Drug', 'Timepoint'])['Tumor Volume (mm3)'].mean()
# Convert to DataFrame
tumor_mean = pd.DataFrame(tumor_mean).reset_index()
# Preview DataFrame
tumor_mean.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325